@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

* {
    font-family: 'Reenie Beanie', cursive;
    


}

body {
    background: url("../Img/pngtree-empty-cork-board-cork-noticeboard-reminder-cork-photo-image_1102895.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
